@import url("styles.css");

#create, #tutorials {
  height:80px;
  width: 290px;
  margin: 80px 20px;
  float: left;
  background-color: #979797;
  font-weight: 800;
  color: #FFF;
  text-align:center;
  text-transform:lowercase;
  text-decoration: none;
  font-size: 4em;
  margin:-5px;
  padding:0;
}
#create:hover, #tutorials:hover {
  background-color: #FFF;
  color: #979797;

}

#tutorials {
  float: right;
  background-color: #3FAAA0;
}


#tutorials:hover {
  color: #3FAAA0;
}


/* Images in Gallery */

#galleryImages figure img{
  height: 140px;
  width: 140px;

}

#galleryImages figcaption{
  text-align:right;
  color: #979797;
}

#galleryImages {
  clear:both;
  margin:0px auto;
  padding: 50px 0 0 0;
}

#galleryImages figure {
  display:inline-block;
  margin: 10px;
}

#galleryImages h1 {
  font-size:1.5em;
  text-align:center;
}

#galleryImages a {
  color: #979797;
  text-decoration:none;
}


#galleryImages a:hover {
  color: #666;
}

/* End of Images in Gallery */
#galleryImages {
  clear:both;
  margin:0 auto;

}

#galleryImages figure {
  display:inline-block;
  margin: 10px;
}

#galleryImages h1 {
  font-size:1.5em;
  text-align:center;


}

#galleryImages a {
  color: #979797;
  text-decoration:none;
}

#featuredImage {
  text-align: center;
  margin: 50px;
}

#figset {

  margin: 0 auto;
  width: 1010px;

}
