<!--provides an introduction to the concept of rgb via a text tutorial-->

extends ../../partials/tutorial
block title
  title An Introduction to Working with RGB
block mainhead
  h1 tutorial / color
block subhead
  h2 Connections
block narrative
  p.
    In the create workspace you can do this yourself with the purple
    'rgb' function by dragging
    it down and connecting three inputs to the three corresponding red, green
    and blue outlets. The function can then render a unique image as the
    functions and values put into it are rendered as different color mixtures
    in different parts of the canvas.
  p.
    To the right, you can see how we created the previous
    image by using the line tool to connect values and functions.
  p.
    Now go out and create your own colorful images!
block illustration
  img(src='/images/tutorial/RGBtut.png' id="rgb-image")