<!--provides an introduction to the concept of rgb via a text tutorial-->

extends ../../partials/tutorial
block title
  title An Introduction to Working with RGB
block mainhead
  h1 tutorial / color
block subhead
  h2 How to work with RGB
block narrative
  p.
    In the create workspace you can use the purple 'rgb' function by dragging
    it down and connecting three inputs to the three corresponding red, green
    and blue outlets. The function can then render a unique image as the
    functions and values put into it are rendered as different color mixtures
    in different parts of the canvas.
  p.
    Seen to the right is an image created with -1 red, the absolute
    value of y for green and x for blue.
  p.
    This means that there is no red
    in the image and that from left to right (as x increases from -1 to 1)
    there is more and more blue. Green is then rendered symmetrically
    from the horizon line up and down with increases in the amount of green
    moving outwards.
  p.
    Now go out and create your own colorful images!
block illustration
  canvas(id="canvas",class="world",width=300,height=300)
  p(id="code" class="code ") rgb(-1,abs(y),x)
