/**
* accountSettings.css
*   Styles for the "account settings" page.
*/
img editButton {
  width: 20px; <!--change to percent-->
  height: 20px;
  decoration: none;
}
.editButton{
  width: 20px;
  height: 20px;
  border: none;
  background-image:url(/icons/edit_button.png);
  background-size: 100% 100%;
}
#content {
  text-align: center;
  width: 250px;
}

#headers {
  width: 150px;
}

#flashZone {
  clear:left;
  background-color: #E1E1E1;
  display:block;
  text-align: left;
  border: 10px solid white;
  color: #7B7B7B;
  border-radius: 15px;
  margin: 0 -100px;
}

#flashZone h1 {
  font-family: 'Open Sans';
  font-weight: 800;
  margin:10px;
}

form {
  width: 50%;
  margin: 0 auto;
  clear: both;
}

table {
  color:#979797;
  margin:40px;
}

td {
  padding: 10px;
}

tr {
  padding: 50px;
}

input[type='submit'] {
  display:block;
  float: right;
  clear: left;
  margin: 50px;
  color: #FFF;
  background-color: #979797;
  border:1px solid white;
  font-size: 1.5em;
  font-weight: 800;
  padding: 3px 20px;
}

input[type='submit']:hover {
  color: #979797;
  background-color: #FFF;
  cursor: pointer;
}

.signupField {
  border: 1px solid #979797;
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
  border-radius: 3px;
  padding:7px;
}

form p {
  display: inline;
  color: #979
}

input[type='submit']:hover {
  color: #D8D8D8;
  background-color: #FFF;
  cursor: pointer;797;
}

td #edit-username {
  width: 25px;
  height: 25px;
}

td #edit-password{
  width: 25px;
  height: 25px;
}

td #edit-email {
  width: 25px;
  height: 25px;
}
