@import url("/css/styles");

figure{
	width: 180px;
	float: left;
}

figure img {
	width:180px;
}

figure h1 {
	color: #979797;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	font-size: 1.3em;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px #ddd;

}

figure h1:hover {
	color: #4A4A4A;
}

#albums {
	clear: both;
	width: 70%;
	margin: 0 auto;
}

form input[type='image']{
    width: 20px;
    height: 20px;
}

.all {
    color: #979797;
    font-size: 1.3em;
}
