@import url("styles.css");

#albumTitle {
color: #979797;
border: 2px solid #3FAAA0; 
text-align: center;
width: 181px;
font-size: 20px;

}

#albumTitle:hover {
color: #4A4A4A;
}

#albumTitles {
margin: 0px 37px;
float: left;
}

td {
padding: 40px;
}

table {
empty-cells: hide;
}

#currentAlbum {
font-family: 'Open-Sans', sans-serif;
color: #979797;
font-size: 36px;
}
