@import url("/css/styles.css");
/**
 * set background color, size, and border of workspace
 * center workspace
 */
#container {
    background-color: #F1F8FF;
    width: 800px;
    height: 534px;
    border: 3px solid black;
    margin: 0 auto;
}

#gui-and-key {
	margin: 0 auto;
}

/*
 * center help text below canvas. align center.
 */
#gui-help {
	margin: 10px auto 0 auto;
	text-align: center;
}

/** KEY TABLE **/
#key {
	margin-left: 10px;
	padding: 10px;
	border: 2px solid black;
}

.key-description {
	min-width: 200px;
	width: 200px;
	text-align: left;
	font-size: 12px;
}

.key-image {
	width: 65px;
	padding: 3px;
}

#value-key td {
	border-bottom: 2px solid #A1A1A1;
}

#rgb-function-key td {
	border-bottom: 2px solid #A1A1A1;
}