@import url("/css/styles.css");
/**
 * set background color, size, and border of workspace
 * center workspace
 */
#container {
  margin: 0 0 0 40px;
  background-color: #F1F8FF;
  min-width: 800px;
  width: 800px;
  height: 534px;
  border: 3px solid black;
}

#image-and-gui {
  margin: 0 auto; 
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#canvas {
  min-width: 400px;
  min-height: 400px;
  max-width: 400px;
  max-height: 400px;
  border: 1px solid black;
}

#challenge-subTitle {
  margin: 0 auto 0 30px;
}