#userTitle {
    height:140px;
    width:600px;
    margin: 0px -130px;
    float: left;
    background-color: #EFDC5C;
}

#ttitleTitle {
    font-family: OpenSans-Extrabold;
    font-size: 25px;
    color: #FFFFFF;
    text-align: left;
    text-indent: 25px;
    margin: 30px 105px;
    line-height: 5px;
    border: 4px solid #FFFFFF;

}
/*
ul {
list-style-type: none;
font-size: 20px;
color: #9B9B9B;
width: 400px;
text-align: left;
margin: -50px 20px;
}
*/
li {
padding: 15px 0px;
}

#myFunctions {
font-family: "Open-Sans",sans-serif;
font-size: 25px;
color: #9B9B9B;
float: left;
}

#myFunctions h1{
text-indent: 50px;
}

#savedFunctions {
font-family: "Open-Sans",sans-serif;
font-size: 25px;
color: #9B9B9B;
float: left;
}

#savedFunctions h1{
text-indent: 50px;
}

#searchBox {
float: right;
}
