@import url('styles.css');



ul {
list-style-type: none;
font-size: 20px;
color: #9B9B9B;
width: 400px;
text-align: left;
}

li {
padding: 15px;
}

#myFunctions {
font-family: "Open-Sans",sans-serif;
font-size: 25px;
color: #9B9B9B;
float: left;
}

#savedFunctions {
font-family: "Open-Sans",sans-serif;
font-size: 25px;
color: #9B9B9B;
float: left;
}

#searchBox {
float: right;
}
