@import url("/css/styles");

#main {
	margin:100px;
}

#pageTitle {
	background-color: #3FAAA0;
}

#albumPageTitle {
	height:140px;
	min-width:600px;
	margin: 0px -110px;
	float: left;
	background-color: #EFDC5C;
}

#albumPageTitle h1{
	border: 7px solid white;
	margin: 15px;
	color: #FFF;
	display: inline-block;
	font-weight: 800;
	font-size: 4em;
	padding: 5px;
	clear: left;
}

#images {
	width: 70%;
	margin: 0 auto;
	clear: both;
}

#images figure {
	width:180px;
	float: left;
	margin: 50px;

}

#images figure img{
	width: 180px;
}


figure figcaption.left:first-letter{
	color: #EFDC5C;
	font-size: 1em;
}

figure figcaption.right{
	color: #979797;
	font-size: 1em;
	text-decoration: none;
}


figure figcaption.center{
    text-align: center;
    color: #979797;
}

h2{
	color: #979797;
	text-align: center;
	width: 60%;
	margin: 0px auto;
	font-weight: normal;

}

figcaption.right a:visited {
    color: inherit;
}

#previousNext {
vertical-align: bottom;
height: 50px;
}