@import url("/css/styles");

#main {
	margin:100px;
}

#pageTitle {
	background-color: #3FAAA0;
}

#images {
	width: 70%;
	margin: 0 auto;
	clear: both;
}

#images figure {
	width:180px;
	float: left;
	margin: 50px;

}

#images figure img{
	width: 180px;
}


figure figcaption.left:first-letter{
	color: #EFDC5C;
	font-size: 1em;
}
