@import url('/css/image-grid.css');

div#gallery{
  clear: left;
  padding-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
}

#top,pageTitleGeneral {
 background-color: #3FAAA0;
}

#albumPageTitle {
 height:140px;
 min-width:600px;
 margin: 0px -110px;
 float: left;
 background-color: #EFDC5C;
}

#albumPageTitle h1{
 border: 7px solid white;
 margin: 15px;
 color: #FFF;
 display: inline-block;
 font-weight: 800;
 font-size: 4em;
 padding: 5px;
 clear: left;
}

.starred, .unstarred{
 display: inline-block;
  cursor: pointer;
  padding: 5%;
}
.starred::first-letter{
 color: #EFDC5C;
 font-size: 1em;
}

.starred:hover::first-letter, .unstarred:hover::first-letter {
 text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

figure figcaption.right{
 color: #979797;
 font-size: 1em;
 text-decoration: none;
 margin: 0% 0% 0% 0%;
 padding: 5%;
}

figure figcaption.center{
    text-align: center;
    color: #979797;
}

h2{
 color: #979797;
 text-align: center;
 width: 60%;
 font-weight: normal;

}

figcaption.right a:visited {
    color: inherit;
}

#pageNumber a{
vertical-align: bottom;
text-decoration: none;
color: #FFFFFF;
background-color: #BABABA;
display: inline-block;
height: 40px;
width: 150px;
text-align: center;
font-size: 1.7em;
float: left;
}

#pageNumber a:hover{
background-color: #979797;
}

canvas {
 width: 300px;
 height: 300px;
}

input[type='submit']{
    color: #FFF;
    background-color: #979797;
    border:1px solid white;
    font-size: 1em;
    font-weight: 800;
    float: right;
    margin: 0px 10px;

}

input[type='submit']:hover{
   color: #979797;
    background-color: #FFF;
    cursor: pointer;
    }

input[type='submit'].delete{
    float: right;
    background-color: #BC1414;
}

input[type='submit'].delete:hover{
    float: right;
    background-color: #FFF;
    color: #BC1414;
}

.run{
   float: right;
}

.deleteImage{
 width : 25px;
 height : 25px;
 float : right;
}

/**
 * For album pages album titles
 */
div#albumTitle {
  clear: both;
  font-size: 2em;
  color: #979797;
  margin-left: 20px;
  margin-top: 20px;
  display: block;
}

