/**
 * help.css
 *   CSS for the help page.
 */

p.intro {
  clear: left;
}

table.help {
  clear: left;
}

table.help td,
table.help th {
  vertical-align: top;
  padding: 15px;
  background-color: #DCE0E0;
}

th {
  text-align: left;
}

a {
  color: black;
}

table.help tr td:first-child:hover{
  background-color: #979797;
}
