@import url("/css/styles");

#featuredImage {
	text-align: center;
	margin: 20px;
}
#featuredImage img{
	height: 425px;
}

#homeButtons {
	padding: 40px;
 }

#homeButtons #create, #homeButtons #tutorials {
	width: 290px;
	margin: 80px 20px;
	background-color: #979797;
	font-weight:bold;
	color: #FFF;
	text-align:center;
	text-transform:lowercase;
	text-decoration:none;
}

#homeButtons #create:hover,#homeButtons #tutorials:hover{
	background-color: #FFF;
	color: #979797;
}

#homeButtons #tutorials {
	float: right;
	background-color: #3FAAA0;
}

#homeButtons #tutorials:hover {
	color: #3FAAA0;
}

#homeButtons #tutorials, #homeButtons #create, #homeButtons #tutorials:hover, #homeButtons #create:hover{
	font-size: 4em;
	margin: 0px;
}

#galleryImages {
	width: 70%;
	margin: 0 auto;
	clear: both;
	text-align:center;
}

#galleryImages figure {
	width:150px;
	float: left;
	margin: 8px;
}

#galleryImages figure img{
	height: 140px;
	width: 140px;
}

#gallery h1 {
	font-size:1.5em;
	text-align:right;
}

#galleryImages a {
	color: #979797;
	text-decoration:none;
}

#galleryImages a:hover {
	color: #666;
}

#figset {
	margin: 150px auto 0 auto;
	width: 1010px;
}
