@import url("/css/styles");

#featuredImage {
	text-align: center;
}


#create, #tutorials {
	height:80px;
	width: 290px;
	margin: 80px 20px;
	float: left;
	background-color: #979797;
	font-weight:bold;
	color: #FFF;
	text-align:center;
	text-transform:lowercase;
	text-decoration:none;
}
#create:hover, #tutorials:hover{
	background-color: #FFF;
	color: #979797;

}

#tutorials {
	float: right;
	background-color: #3FAAA0;
}

#tutorials:hover {
	color: #3FAAA0;
}

#tutorials, #create, #tutorials:hover, #create:hover{
	font-size: 4em;
	margin:-5px;
	padding:0;
}

#galleryImages figure {
	display:inline-block;
	margin: 10px;
}

#galleryImages figure img{
	height: 140px;
	width: 140px;
}

#galleryImages h1 {
	font-size:1.5em;
	text-align:center;
}

#galleryImages a {
	color: #979797;
	text-decoration:none;
}

#galleryImages a:hover {
	color: #666;
}

#figset {
	margin: 150px auto 0 auto;
	width: 1010px;
}
