/**
 * set background color, size, and border of workspace
 * center workspace
 */
#container {
    background-color: #F1F8FF;
    width: 900px;
    min-width: 900px;
    height: 600px;
    border: 3px solid black;
    margin: 0 auto 0 10px;
}

#gui-and-key {
	margin: 0 auto;
	display: -webkit-flex;
  	-webkit-flex-direction: row;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}

/**
 * position welcome text above workspace
 */
#gui-welcome {
	min-width: 900px;
	padding-left: 325px;
	padding-bottom: 10px;
	margin: 0 auto;
	text-align: center;
}

/*
 * center help text below canvas. align center.
 */
#gui-help {
	min-width: 900px;
	padding-left: 325px;
	padding-bottom: 10px;
	margin: 0 auto;
	text-align: center;
}

/** QUICK-START GUIDE **/
dl#quickStart{
	padding: 0.3em 0.7em;
}

#quickStart dt {
	font-size: 1em;
	font-weight: bold;
}

#quickStart dd {
	font-size: .75em;
}

#quickStart hr {
	-webkit-margin-before: .2em;
	-webkit-margin-after: .2em;
}

/** KEY TABLE **/
#gui-accordion {
	margin-right: 10px;
	margin-left: auto;
	width: 305px;
	min-width: 305px;
}

/** set width of accordion header equal to the width of the table */
.ui-accordion-header {
	width: 255px;
}
#key {
	margin-left: 0;
	padding: 10px;
	border: 2px solid black;
}

.key-description {
	min-width: 200px;
	width: 200px;
	text-align: left;
	font-size: .8em;
}

.key-image {
	width: 65px;
	padding: 3px;
}

#value-key td {
	border-bottom: 2px solid #A1A1A1;
}

#rgb-function-key td {
	border-bottom: 2px solid #A1A1A1;
}
