@import url("/css/styles");

#bio {
	padding: 2%;
	width: 50%;
	float: left;
	font-size: 1.5em;
	color: #979797;
}

#featuredImage {
	float: left;
	clear: left;
}

#featuredImage img {
	width:380px;
	height: 380px;
}

#contactUser {
	float: left;
	padding: 20px;
}

textarea{
    resize: none;
    color: #111111;
    border-radius: 3px;
    border: 1px solid #979797;
    -moz-box-shadow:    inset 0px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow:         inset 0px 1px 3px 0px rgba(0,0,0,0.5);
}

#contactUser textarea {
	border-radius: 3px;
	border: 1px solid #979797;
	-moz-box-shadow:    inset 0px 1px 3px 0px rgba(0,0,0,0.5);
	box-shadow:         inset 0px 1px 3px 0px rgba(0,0,0,0.5);
	width: 500px;
	height: 50px;
	color: #BBBBBB;
}

#contactUser input {
	display: block;
	float: right;
	color: #FFF;
	background-color: #D8D8D8;
	border:1px solid white;
	font-size: 1.5em;
	font-weight: 800;
	padding: 3px 20px;
}

input:hover {
	color: #D8D8D8;
	background-color: #FFF;
	cursor: pointer;
}

#editButton {
	width: 25px;
	height: 25px;
}

figcaption {
	display: inline;
}
#link {
	text-decoration: none;
	text-color: #979797;
	float: right;
}

.settings {
	display: inline-block;
	height: 50px;
	width: 280px;
	text-align: center;
	font-size: 2em;
	color: #FFFFFF;
	text-decoration: none;
	float: right;
	background-color: #EFDC5C;
	margin: 0px 3%;
}

.settings:hover {
    color: #EFDC5C;
    background-color: #FFFFFF;
}

input[type='submit'] {
    margin: 20px 0px;
    color: #FFF;
    background-color: #D8D8D8;
    border:1px solid white;
    font-size: 1em;
    font-weight: 800;
}

input[type='submit']:hover {
    color: #D8D8D8;
    background-color: #FFF;
    cursor: pointer;
}
