#pageTitle {
    background-color:3FAAA0;
    color: #FFF;
    margin: 0 0 15px -110px;
}

#pageTitle h1 {
    float: left;
    font-family: 'Open Sans';
    border: 10px solid white;
    font-weight: 800;
    display: inline-block;
    margin: 15px 0 10px 10px;
    padding: 1px 60px;
    font-size: 4em;

}

#flashZone {
    clear:left;
    background-color: #E1E1E1;
    display:block;
    text-align: left;
    border: 2px solid white;
    color: #7B7B7B;
    border-radius: 15px;
    margin: 0 -100px;
}

#flashZone h1 {
    font-family: 'Open Sans';
    font-weight: 800;
    margin:10px;
}

form {
    width: 50%;
    margin: 0 auto;

}

table {
    color:#979797;
    margin:40px;
}

td {
padding: 10px;
}

tr {
padding: 50px;
}

input[type='submit'] {
    display:block;
    float: right;
    clear: left;
    margin: 50px;
    color: #FFF;
    background-color: #D8D8D8;
    border:1px solid white;
    font-size: 1.5em;
    font-weight: 800;
    padding: 3px 20px;
}

input[type='submit']:hover {
    color: #D8D8D8;
    background-color: #FFF;
}

.signupField {
    border: 1px solid #979797;
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
    border-radius: 3px;
    padding:7px;

}

form p {
    display: inline;
    color: #979797;
}