@import url("/css/styles");
#main {
	text-align: center;
}

h1 {
	color: #4A4A4A;
	font-size: 2em;
	margin: 0 auto;
	font-weight: normal;
}

h2 {
	color: #979797;
	font-size: 1em;
	margin: 0 auto;
	padding: 0;
	font-weight: normal;
}

figure{
	margin: 5px auto;
	width: 400px;

}

figure img {
	height: 400px;
	width: 400px;
}

figure figcaption.left:first-letter{
	color: #EFDC5C;
	font-size: 1em;
}

#comments {
	width:50%;
	margin: 0 auto;
}

.comment h1 a{
	clear: left;
	margin: 10px;
	color: #FFF;
	font-size: .5em;
	box-shadow: -4px 5px 4px 0px #666;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	background-color: #979797;
	float: left;
	text-decoration: none;
}

.comment p {
	float: left;
	margin: 0px 100px;
	text-align: left;
}

.comment h1.op a{
	background-color: #3fAAA0;
}

#leaveComment form {
	float: left;
	padding: 0px 100px;
}

#leaveComment form textarea{
	width: 450px;
	height: 40px;
	margin: 10px;
	resize: none;
}

input[type='submit'] {
    margin: 20px 0px;
    color: #FFF;
    background-color: #D8D8D8;
    border:1px solid white;
    font-size: 1.5em;
    font-weight: 800;
}

input[type='submit']:hover {
    color: #D8D8D8;
    background-color: #FFF;
    cursor: pointer;
}
