@import url("/css/styles");

/* Single Image - Large */
#largeImage2 figure img{
height: 400px;
width: 400px;
}

#largeImage2 figcaption{
  text-align:right;
  color: #979797;
}

#largeImage2 {
  clear:both;
  margin:0 auto;
}

#largeImage2 figure {
  display:inline-block;
  margin: 10px 200px;

}

#largeImage2 h1 {
  font-size:1.5em;
  text-align:center;
}

#largeImage2 a {
  color: #979797;
  text-decoration:none;
}

img {
width: 600px;
height: 600px;
margin-left: auto;
margin-right: auto;
}

#largeImage2 a:hover {
color: #666;
}

/*end of image - large */

#authorNameIcon {
color: #FFF;
font-size: 14px;
background-color: #3fAAA0;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
text-align: center;
border-radius: 10px;
padding: 10px;
}

#userNameIcon{
color: #FFF;
font-size: 14px;
background-color: #979797;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
text-align: center;
border-radius: 10px;
padding: 10px;
border-spacing: 5px;
}

textarea#styled  {
border: 1px solid #979797;
box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
font-family: Hei-Regular;
font-size: 16px;
color: #BBB;
float: left;
margin: 60px 0px;
}

#comments {
font-family: "Open-Sans", sans-serif;
color: #9B9B9B;
}

#imageTitle {
color: #979797;
border: 2px solid #3FAAA0;
text-align: center;
width: 181px;
font-size: 20px;
margin: 0px 50px;
}

#imageInfo {
font-family: "Open-Sans", sans-serif;
color: #4A4A4A;
margin: 0px 340px;
}

table {
margin: 0px 90px;
}

#add {
font-family: "Open-Sans", sans-serif;
font-weight: bold;
font-size: 60px;
color: #E1E1E1;
float: left;
}

#add:active {
color: 3FAAA0;
}

p {
font-family: "Open-Sans", sans-serif;
color: #4A4A4A;
}
