@import url("/css/styles");

tr, td{
border: 2px solid black;
}
td{
padding: 50px;
text-align: center;
background-color: #C0C0C0;
}

table {
margin: 0 auto;
border-collapse: collapse;
}

body
{
background-image:url('https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10425831_10204551456533055_218047225_n.jpg?oh=c954017e2ebba4bbb7d7cafbdcff3550&oe=53B4E6A4&__gda__=1404369680_ad834d7aa26711933cc4dc954669074f');
background-image-size: 100%;
background-color:#cccccc;
background-size: cover;
}

h1 {
text-align: center;
}

a {
    color: black;
}