@import url("/css/styles.css");

body {
}

h1 {
}

h2 {
  text-align: center;
}

#narrative {
  width: 35%;
}

#illustration {
  text-align: center;
  width: 65%;
}

.image{
  max-width: 500px;
  border: 1px black solid;
  margin:5% 15%;
}

.clickX {
  width: 40%;
}
.clickY {
  width: 25%;
}
a#clickPrevious{
  float: left;
  position: static;
  bottom: 0px;
  left: 10%;
  align-self: flex-end;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #979797;
  width: 100%;
  font-size: 1.2em;
}

a#clickNext{
  float: right;
  position: static;
  bottom: 0px;
  right: 10%;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #979797;
  width: 100%;
  font-size: 1.2em;
}

a#clickNext:hover{
  background-color:#FFF;
  color: #979797;
}

a#clickPrevious:hover{
  background-color:#FFF;
  color: #979797;
}

img.image18 {
  border: 1px black solid;
  margin:2% 15%;
}

div.tutorial {
  display: flex;
  justify-content: space-between;
}

div.links {
  display: flex;
  justify-content: space-between;
}

#createLink {
  float: left;
  position: static;
  bottom: 0px;
  right: 10%;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #979797;
  width: 18%;
  font-size: 1.5em;
  font-weight: bold;
}

#createLink:hover {
  background-color:#FFF;
  color: #979797;
}