/**
 * tutorial-alt.css
 *   The primary tutorial style.
 */

body {
}

h1 {
}

h2 {
  text-align: center;
}

#narrative {
  margin-left: 5%;
  width: 35%;
}

#illustration {
  text-align: center;
  width: 65%;
}

.image{
  max-width: 500px;
  border: 1px black solid;
  margin:5% 15%;
}

.clickX {
  width: 40%;
}
.clickY {
  width: 25%;
}

/**
 * We use the inverse of our normal box strategy for the next/prev
 * buttons.
 */
a.next {
  color: #979797;
  background-color:#FFF;
  padding: 2px;
  float: right;
  position: static;
  bottom: 0px;
  right: 10%;
  text-align: right;
  text-decoration: none;
  width: 100%;
  font-size: 1.2em;
}

a.next:hover {
  color: #FFFFFF;
  background-color: #979797;
}

a.prev {
  color: #979797;
  background-color:#FFF;
  padding: 2px;
  float: left;
  position: static;
  bottom: 0px;
  left: 10%;
  align-self: flex-end;
  text-align: left;
  text-decoration: none;
  width: 100%;
  font-size: 1.2em;
}

a.prev:hover {
  color: #FFFFFF;
  background-color: #979797;
}

div.tutorial {
  display: flex;
  justify-content: space-between;
}

div.links {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

#createLink {
  float: left;
  position: static;
  bottom: 0px;
  right: 10%;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #979797;
  padding: 0px 20px;
  font-size: 1.5em;
  font-weight: bold;
}

#createLink:hover {
  background-color:#FFF;
  color: #979797;
}

/* Sam's failed attempt to do progress bars. */
div.progressbar {
  width: 100px;
  height: 1em;
  border: 1px solid black;
  padding: 0;
}

span.progress {
  background: black;
  width: 20px;
}

#rgb-image {
  width: 300px;
  margin-bottom: 100px;
}
