.introTR, .introTD{
border: 2px solid black;
}
.introTD{
padding: 50px;
text-align: center;
background-color: #C0C0C0;
}

#introTable{
margin: 0 auto;
border-collapse: collapse;
}

h3{
  text-align: center;
}

#instructions{
  position: relative;
  padding: 60px 50px 50px 50px;
  background-color: #4A4A4A;
  height: 650px;
  float: left;
  width: 25%;
  word-wrap: word-break;
  margin: -2% -7% 5%;
  color: white;
}

#instructText{
  width:100%;
}

.image{
  max-width: 50%;
  border: 1px black solid;
  margin:5% 0% 5% 14%;
}

img.image18{
  max-width: 8%;
  border: 1px black solid;
  margin:4% 0% 2% 17%;
}

#clickX{
  width: 40%;
}
#clickY{
  width: 25%;
}

a#clickPreviousTop{
  float: left;
  position: absolute;
  top: 5%;
  left: 10%;
  align-self: flex-end;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4a4a4a;
  width: 40%;
  font-size: 1.2em;
}

a#clickNextTop{
  float: right;
  position: absolute;
  top: 5%;
  right: 10%;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4a4a4a;
  width: 40%;
  font-size: 1.2em;
}
a#clickPreviousBtm{
  float: left;
  position: absolute;
  bottom: 0px;
  left: 10%;
  align-self: flex-end;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4a4a4a;
  width: 40%;
  font-size: 1.2em;
}

a#clickNextBtm{
  float: right;
  position: absolute;
  bottom: 0px;
  right: 10%;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4a4a4a;
  width: 40%;
  font-size: 1.2em;
}

a#clickNextBtm:hover{
  background-color:#FFF;
  color: #4a4a4a;
}

a#clickPreviousBtm:hover{
  background-color:#FFF;
  color: #4a4a4a;
}

a#clickNextTop:hover{
  background-color:#FFF;
  color: #4a4a4a;
}

a#clickPreviousTop:hover{
  background-color:#FFF;
  color: #4a4a4a;
}
