extends ../../partials/tutorial
block title
  title GUI: Adding Values
block mainhead
  h1 tutorial
block subhead
  h2 Adding Values
block narrative
  p.
    To add a value to the workspace, click on the values tab, and then drag
    the appropriate value down to where you want it.
  p.
    You'll note that there are a variety of values available.
      You've probably already learned about x and y.  What are the rest?
  p.
    t.s, t.m, t.h, and t.d represent the time (within the current
    second, minute, hour, or day).  Like everything else in MIST,
    they range from -1 to 1.  For example, at the start of the
    current hour t.h is -1 and at the end of the current hour, t.h
    is 1.
  p.
    That hash sign (#) at the end lets you type in any constant value.
block illustration
  img(src='/images/tutorial/3.jpg' class='image')
