extends ../../partials/tutorial
block title
  title GUI: Functions
block mainhead
  h1 tutorial
block subhead
  h2 Functions
block narrative
  p.
    As you can see, there are a variety of functions available
    (and more to come soon!).  Some functions, like sin,
    accept a fixed number of inputs. Others, like sum and
    mult, accept variable numbers of inputs.
  p.
    Right now, values are showing, so we must click the "add a function"
    tab to see the available functions.
  p.
    To add a function to the workspace, drag it down from the menu to
    where you want it, just like you add a value.
block illustration
  img(src='/images/tutorial/7.jpg' class='image')
