extends ../../partials/tutorial
block title
  title GUI: Basic Values
block mainhead
  h1 tutorial
block subhead
  h2 Connecting Functions
block narrative
  p.
    You can now connect the 'valid' function from before to the still empty
    'sum' along with a second 'x' value.
block illustration
  img(src='/images/tutorial/14.jpg' class='image')