extends ../../partials/tutorial
block title
  title GUI: Basic Values
block mainhead
  h1 tutorial
block subhead
  h2 Effects of a Deletion
block narrative
  p.
    Click an object such as the oh-so-important 'sin' function....
  img(src='/images/tutorial/18.jpg' class='image')