extends ../../partials/tutorial
block title
  title GUI: Basic Values
block mainhead
  h1 tutorial
block subhead
  h2 Deleting Objects
block narrative
  p.
    Made a mistake and want to pretend it never happened?  No worries,
    we got you covered.  Start by clicking on the 'delete tool' in the
    toolbox.
block illustration
  img(src='/images/tutorial/16.jpg' class='image')