extends ../../partials/tutorial
block title
  title GUI: Functions
block mainhead
  h1 tutorial
block subhead
  h2 Functions
block narrative
  p.
    Of course, to make interesting images, you also need functions.  And you need
    to connect values to those functions.
  p. 
    Right now, values are showing, so we must click the "add a function" tab to see
    the available functions.
block illustration
  img(src='/images/tutorial/6.jpg' class='image')
