extends ../../partials/tutorial
block title
  title GUI: That Little Box
block mainhead
  h1 tutorial / gui
block subhead
  h2 That Strange Little Box
block narrative
  p.
    You'll note that our value has a little white box.  This appears when we have enough
    information to show the illustration for that value (or expression).  You just click
    on it to see the image.
block illustration
  img(src='/images/tutorial/4.jpg' class='image')
