extends ../../partials/tutorial
block title
  title GUI: That Little Box, Continued
block mainhead
  h1 tutorial
block subhead
  h2 That Strange Little Box, Continued
block narrative
  p.
    Once you've clicked the little white box at the bottom right corner,
    it expands to show a preview of the image.  Right now, you see what
    <code>x</code> looks like.
  p.
    To close an open image, click on the image.
block illustration
  img(src='/images/tutorial/5.jpg' class='image')
