extends ../../partials/tutorial
block title
  title GUI: The Line Tool
block mainhead
  h1 tutorial
block subhead
  h2 The Line Tool
block narrative
  p.
    We need to connect the value x to the function sin.  We do this with the
    line tool, which appears in the toolbox.
  p.
    Click on the line tool (circled in red on the right) to activate it.
block illustration
  img(src='/images/tutorial/8.jpg' class='image')
