extends ../../partials/tutorial
block title
  title GUI: Adding Values
block mainhead
  h1 tutorial
block subhead
  h2 Multiple Functions
block narrative
  p.
    Branches can also be created to view multiple images at once.
  p.
    Try out another function such as 'sum', which takes multiple
    inputs, by dragging it down to the workspace. 
block illustration
  img(src='/images/tutorial/13.jpg' class='image')
