extends ../../partials/tutorial
block title
  title GUI: Basic Values
block mainhead
  h1 tutorial
block subhead
  h2 Name your Image
block narrative
  p.
    Before saving, make sure to admire your image and give it a unique name!
block illustration
  img(src='/images/tutorial/22.jpg' class='image')