extends ../../partials/tutorial
block title
  title GUI: Basic Values
block mainhead
  h1 tutorial
block subhead
  h2 Saving an Image
block narrative
  p.
    To save your beautiful creation to your account, click on
    the "save as image" button in the function bar.
block illustration
  img(src='/images/tutorial/21.jpg' class='image')