extends ../../partials/tutorial
block title
  title GUI: Basic Values
block mainhead
  h1 tutorial
block subhead
  h2 But is it REALLY the end?
block narrative
  p.
    Then saving your image is simply a click away.
  p.
    Congratulations! You completed the workspace tutorial!  We've taught you
    enough to get started with making super crazy images.  Feel free to
    explore the create workspace to start making your own images!
  a(href='http://glimmer.grinnell.edu/create' id='createLink') create
block illustration
  img(src='/images/tutorial/23.jpg' class='image')
