extends ../../partials/tutorial
block title
  title GUI: Basic Values
block mainhead
  h1 tutorial
block subhead
  h2 Selecting an Object to be Deleted
block narrative
  p.
    Click an object or line that you no longer want. (For example, try deleting the 'sin' function.)
block illustration
  img(src='/images/tutorial/17.jpg' class='image')