extends ../../partials/tutorial
block title
  title GUI: Selecting the Input
block mainhead
  h1 tutorial
block subhead
  h2 Selecting the Input
block narrative
  p.
    Now that we've selected the line tool, we must choose the value we want to use as input to a function.  
  p. 
    Click on the item you want to input into a function (in this case, the value x).
block illustration
  img(src='/images/tutorial/9.jpg' class='image')
