extends ../../partials/tutorial
block title
  title GUI: What the MIST is happening?
block mainhead
  h1 tutorial / gui
block subhead
  h2 What the MIST is happening?
block narrative
  p.
    Welcome to MIST! By now you're probably wondering how in the
    world you can work with the MIST graphical user interfade (GUI),
    which appears on the right with the various components labeled.
  p.
    As you step through this tutorial, you can familiarize yourself
    with the way in which you use the GUI to genearte images.
  p.
    As you use this tutorial, you may find it useful to open up
    another window to interact with the workspace side-by-side.
block illustration
  img(src='/images/tutorial/1.jpg' class='image')
