extends ../../partials/tutorial
block title
  title GUI: Selecting the Target
block mainhead
  h1 tutorial
block subhead
  h2 Selecting the Target
block narrative
  p.
    We want add the item we just clicked as in input to a function. To do this we connect it to a teardrop shape on the left of the desired function by clicking on either the function or the teardrop shape.
  p.
    Still using the line-tool, click on the outlet to connect your source to
    the function.
block illustration
  img(src='/images/tutorial/10.jpg' class='image')
