extends ../../partials/tutorial
block title
  title GUI: Selecting the Target
block mainhead
  h1 tutorial
block subhead
  h2 Selecting the Target
block narrative
  p.
    We want to connect that source to one of the "outlets" (parameters)
    of a function.  An outlet is a tear-drop shaped object on the left-hand
    side of a function.
  p.
    Still using the line-tool, click on the outlet to connect your source to
    the function.
block illustration
  img(src='/images/tutorial/10.jpg' class='image')
