extends ../../partials/tutorial
block title
  title TITLE
block mainhead
  h1 tutorial
block subhead
  h2 SUBHEAD
block narrative
  p.
    NARRATIVE
block illustration
  img(src='/images/tutorial/1.jpg' class='image')
