extends ../../partials/tutorial
block title
  title GUI: Viewing Function Text
block mainhead
  h1 tutorial
block subhead
  h2 Viewing Function Text
block narrative
  p.
    Although you will usually build these functions using the workspace,
    it can be useful to see them described textually.  When you
    click on any valid function you can see the function written
    out at the bottom of the screen.
  p.
    You will also see these representations when you view images.
block illustration
  img(src='/images/tutorial/12.jpg' class='image')
