extends ../../partials/tutorial
block title
  title GUI: Viewing Function Text
block mainhead
  h1 tutorial / gui
block subhead
  h2 Viewing Function Text
block narrative
  p.
    Although you will usually build these functions using the GUI, it can be useful
    to see them described textually.  When you click on any complete function you
    can see a textual representation at the bottom of the screen.
  p.
    You will also see those representations when you view images.
block illustration
  img(src='/images/tutorial/12.jpg' class='image')
