extends ../../partials/tutorial
block title
  title GUI: Basic Values
block mainhead
  h1 tutorial
block subhead
  h2 ...and it never happened
block narrative
  p.
    Viola! The complete workspace is back.
block illustration
  img(src='/images/tutorial/20.jpg' class='image')