extends ../../partials/tutorial
block title
  title GUI: Basic Values
block mainhead
  h1 tutorial
block subhead
  h2 REVERT! REVERT!
block narrative
  p.
    To undo a change to the workspace, simply click on the undo
    button in the toolbox.
  p.
    *Undone actions can also be redone with the redo button
    located below the undo button.
block illustration
  img(src='/images/tutorial/19.jpg' class='image')