extends ../../partials/tutorial
block title
  title GUI: When Functions are Finished
block mainhead
  h1 tutorial
block subhead
  h2 When Functions are Valid
block narrative
  p.
    We have now specified all of the inputs to the function, so
<<<<<<< HEAD
    it describes a valid image.
=======
    it describes an image.
    (We sometimes call such complete functions "valid".)
>>>>>>> FETCH_HEAD
  p.
    You can tell that it's valid because a mini image box appears
    next to it. Similar to a value, you can click on this box to view
    the image.
block illustration
  img(src='/images/tutorial/11.jpg' class='image')
