extends ../../partials/tutorial
block title
  title GUI: When Functions are Finished
block mainhead
  h1 tutorial / gui
block subhead
  h2 When Functions are Finished
block narrative
  p.
    We have now specified all of the inputs to the function, so it describes an image.
    (We sometimes call such functions "valid" or "finished".)  
  p.
    You can tell that it's finished because a mini image box appears
    next to it, a box you can click on to view the image.
block illustration
  img(src='/images/tutorial/11.jpg' class='image')
