extends ../../partials/tutorial
block title
  title GUI: Basic Values
block mainhead
  h1 tutorial
block subhead
  h2 Let's get started!
block narrative
  p.
    Like many works of art, it all starts with a canvas!
  p.
    The first step in building a MIST image is to add a value to
    the workspace and view its graphical representation in the [-1,
    1] world.
  p.
    Start by clicking on the 'add a value' tab of the menu to view
    the values available.
  p.
    The canvas, which can be accessed by clicking on the white square
    from a value or function, is what we use to represent our graphical images.
block illustration
  img(src='/images/tutorial/2.jpg' class='image')
