extends ../../partials/tutorial
block title
  title GUI: Basic Values
block mainhead
  h1 tutorial
block subhead
  h2 Let's get started!
block narrative
  p.
    Like many works of art, it all starts with a blank canvas!
  p.
    The first step in building a MIST image is to add a value to
    the workspace and view its graphical representation in the [-1,
    1] world.
  p.
    Start by clicking on the 'add a value' tab of the menu to view
    the values available.
  p.
    The image the value generates can be previewed by clicking on the white 
    square in the corner of a value or function.
block illustration
  img(src='/images/tutorial/2.jpg' class='image')
