@import url('styles.css');

#userTitle {
    height:131px;
    width: 436.1px;
    margin: 0px -130px;
    float: left;
    background-color: #EFDC5C;
    color: #FFF;
}


#bio {
font-size: 20px;
color: #9B9B9B;
width: 400px;
float: left;
margin: -18px 120px;
}

#main nav {
    clear:both;
}

textarea#styled  {
border: 1px solid #979797;
box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
font-family: Hei-Regular;
font-size: 16px;
color: #BBB;
float: left;
margin: 60px 0px;
}

