extends ./partials/framework
block title
	title= user.username + "'s albums on MIST"

block extraMetas
block extraLinks

block stylesheets

	link(rel='stylesheet', href='/css/albums')


block content
	div(id='main')
		div(id = 'pageTitle')
			h1= user.username
		div(id = 'subviews')
			a(href='/me' class='subview') about
			a(href='/badges' class='subview') badges
			a(href='/albums' class='subview' id='selected') albums
			a(href='/challenges' class='subview') challenges
		div(id = 'albums')
			- for(var i=0; i < albums.length; i++)
				figure
					h1= albums[i].name
					img(src = '/samples/color2.jpg')
