extends ./partials/framework
block title
	title= albums[0].username + "'s albums on MIST"
block extraMetas
block extraLinks

block stylesheets
	link(rel='stylesheet' href='/css/albums')
	link(rel='stylesheet' href='/css/styles')
	link(rel='stylesheet' href='/css/functions')

block content
	div(id='main')
		div(id = 'userTitle')
			div(id='ttitleTitle'): h1= albums[0].username
		a(href='/challenges')
			div(id='tab1Deselected'): h2 challenges
		a(href='/badges')
			div(id='tab2Deselected'): h2 badges
		a(href='/albums')
			div(id='tab3Selected'): h2 albums
		a(href='/functions')
			div(id='tab4Deselected'): h2 functions
		- for (var i = 0; i < albums.length; i++)
			div.album
				#albumTitle= albums[i].name
				img(src='/samples/color2.jpg')
				p= albums[i].dateCreated
				p= albums[i].caption