extends ./partials/framework
block title
  title= profileBeingViewed + "'s albums on MIST"

block extraMetas
block extraLinks
  script(type='text/javascript' src='/js/mist-utils.js')
  script(type='text/javascript' src='/js/mist-functions.js')
  script(type='text/javascript' src='/js/mist-layout.js')
  script(type='text/javascript' src='/js/mist-functions-layout.js')
  script(type='text/javascript' src='/js/mist-functions-builtin.js')
  script(type='text/javascript' src='/js/mist-render.js')
  script(type='text/javascript' src='/js/mistui-dialogs.js')
  script(type='text/javascript' src='/js/mistui-help.js')
  script(type='text/javascript' src='/js/mistui-menus.js')
  script(type='text/javascript' src='/js/mistui-animation.js')
  script(type='text/javascript' src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
  script(type='text/javascript' src='/js/gallery.js')

block stylesheets
  link(rel='stylesheet', href='/css/albums')

block content
  div(id='main')
    div(id = 'pageTitle')
      h1= profileBeingViewed
    div(id = 'subviews')
      a(href='/user/'+ profileBeingViewed class='subview') bio
      a(href='/badges' class='subview') badges
      a(href='' class='subview' id='selected') albums
      a(href='/challenges' class='subview') challenges
    div(id = 'albums')
      a(href='/'+ profileBeingViewed + '/images/')
        h1.all All my Images >
      - for(var i=0; i < albums.length; i++)
        figure
          a(href='/albums/' + albums[i].albumid)
              h1= albums[i].name 
