extends ./partials/framework
block title
  title MIST Galleries
block extraMetas
block extraLinks

block stylesheets
  link(rel='stylesheet', href='/css/challenges.css')

block content
  div(id='main')
    div(id='top')
      div(id='pageTitleGeneral')
        h1 challenges
      div(id='subviews')
        if (type === "admin challenges")
          a(href='#' class='subview selected') admin challenges
        else
          a(href='#' class='subview') admin challenges
        if (type === "difficulty")
          a(href='#' class='subview selected') random
        else
          a(href='#' class='subview') random
        if (type === "color")
          a(href='#' class='subview selected') recent
        else
          a(href='#' class='subview') recent
        if (type === "animated")
          a(href='#' class='subview selected') top rated
        else
          a(href='#' class='subview') top rated
        if (type === "top rated")
          a(href='#' class='subview selected') featured
        else
          a(href='#' class='subview') featured
    div(id='gallery')
      div(id='images')

      div(id='pageNumber')
        