extends ./partials/framework
block title
  title MIST Galleries
block extraMetas
block extraLinks

block stylesheets
  link(rel='stylesheet', href='/css/challenges.css')

block content
  div(id='main')
    div(id='top')
      div(id='pageTitleGeneral')
        h1 challenges
      div(id='subviews')
        if (type === "basic")
          a(href='#' class='subview selected') basic
        else
          a(href='#' class='subview') basic
        if (type === "intermediate")
          a(href='#' class='subview selected') intermediate
        else
          a(href='#' class='subview') intermediate
        if (type === "advanced")
          a(href='#' class='subview selected') advanced
        else
          a(href='#' class='subview') advanced
    div(id = 'challenges')
    div(id='pageNumber')
        