extends ./partials/framework
block title
  title MIST by Glimmer
block extraMetas
block extraLinks

block stylesheets
  link(rel='stylesheet', href='/css/styles')
block content
  div(id='main')
  img(style='width: 400px', src='https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/t1.0-9/10338337_852938188054136_365829832260340362_n.jpg')
  h2(id='default') This page is currently under construction.  Please come back at a later time.  We thank you for your enthusiasm.