<!--Sam's way of putting a iframe-->

doctype html

html(lang='en')
  head
    title=image.title + ' by ' + image.username
    meta(http-equiv='content-type', content='text/html; charset=utf-8')

    block extraMetas
    block stylesheets

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type='text/javascript' src="/js/analytics.js")
    script(type='text/javascript' src='/js/mist.js')
    script(type='text/javascript' src='/js/mistui.js')
    script(type='text/javascript' src='/js/imagepage.js')
    block extraLinks
  body
    canvas(id='canvas' class="fullscreen" style="position:absolute; left:0; top:0;" onclick='window.top.location.href = "/image/' + image.imageid + '"')
    p(id='code' class='code' style='visibility:hidden;')= image.code
