<!--access the function page-->

extends ./partials/framework
block title
  title= " on MIST"

block extraMetas
block extraLinks

block stylesheets
  link(rel='stylesheet', href='/css/functions')

block content
  div(id='main')
    div(id = 'userTitle')
      div(id='ttitleTitle'): h1 my functions
    a(href='/challenges')
      div(id='tab1Deselected'): h2 challenges
    a(href='/badges')
      div(id='tab2Deselected'): h2 badges
    a(href='/albums')
      div(id='tab3Deselected'): h2 albums
    a(href='/functions')
      div(id='tab4Selected'): h2 functions
    div(id='myFunctions'): h1 my functions
            nav: ul(id='leftSide')
              li cool function
              li cool function2
              li functionNew
              li functionNew2
    div(id='rightSide')
    div(id='savedFunctions'): h1 saved functions
            nav: ul(id='rightSide')
              li function1 by cutiexox
              li function2 by funkay_diva
              li function3 by cutegrrrl
              li function4 by fierysoul5656
