<!--access the gallery, choose to view random, top rated, or recent images-->

extends ./partials/framework
block title
  title MIST Galleries
block extraMetas
block extraLinks
  script(type='text/javascript' src='/js/ugly.mist.js')
  script(type='text/javascript' src='/js/ugly.mistui.js')
  script(type='text/javascript' src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
  script(type='text/javascript' src='/js/gallery.js')
  script(type='text/javascript' src='/js/likes.js')

block stylesheets
  link(rel='stylesheet', href='/css/gallery.css')

block content
  div(id='main')
    div(id='top')
      div(id='pageTitleGeneral')
        h1 gallery
      div(id='subviews')
        if (type === "random")
          a(href='/gallery/random' class='subview' id='selected') random
        else
          a(href='/gallery/random' class='subview') random
        if (type === "recent")
          a(href='/gallery/recent' class='subview' id='selected') recent
        else
          a(href='/gallery/recent' class='subview') recent
        if (type === "toprated")
          a(href='/gallery/toprated' class='subview' id='selected') top rated
        else
          a(href='/gallery/toprated' class='subview') top rated
        if (type === "featured")
          a(href='/gallery/featured' class='subview' id='selected') featured
        else
          a(href='/gallery/featured' class='subview') featured
    div(id='gallery')
      div(id='images')
        ul(class='rig columns-3')
          - for (var i=0; i < images.length; i++)
            li
              figure(data-imageid=images[i].imageid)
                a(href='/image/' + images[i].imageid)
                  canvas(id='canvas'+i width='300px' height='300px')
                  input(type='hidden' id='code'+i value=images[i].code)
                if(images[i].code.indexOf("t.") > -1 || images[i].code.indexOf("m.") > -1)
                  .run
                    img(src='/icons/time.png' width ='20px' height='20 px')
                a(href='/user/'+ images[i].username): figcaption(class='right')= images[i].username

                if(images[i].liked)
                  figcaption(class='left starred')= "★" + images[i].rating
                else
                  figcaption(class='left unstarred')= "★" + images[i].rating
      div(id='pageNumber')
        if (currentPage==1 && !(type == "random") && nextPage)
          a(href='/gallery/' + type + '/' + ++currentPage)    next »
        else if !(type == "random") && !(currentPage==1) &&  nextPage
          a(href='/gallery/' + type + '/' + --currentPage) « previous
          a(href='/gallery/' + type + '/' + (currentPage+2))    next »
        else if !(type == "random") && (images.length<=9) && !(currentPage== null)
          a(href='/gallery/' + type + '/' + --currentPage) « previous