extends ./partials/framework
block title
	title MIST Galleries
block extraMetas
block extraLinks

block stylesheets
	link(rel='stylesheet', href='/css/gallery')

block content
	div(id='main')
		div(id='pageTitle')
				h1 gallery
		div(id='subviews')
			a(href='#random' class='subview' id='selected') random
			a(href='#recent' class='subview') recent
			a(href='#top' class='subview') top rated
			a(href='#recent' class='subview') featured
		div(id='images')
			- for (var i=0; i < images.length; i++)
				figure
					img(src='/samples/color2.jpg')
					figcaption(class='right')= images[i].username
					figcaption(class='left')= "★" + images[i].rating

