extends ./partials/framework
block title
  title MIST Help

block extraMetas
block extraLinks

block stylesheets

  link(rel='stylesheet', href='/css/styles.css')
  link(rel='stylesheet', href='/css/help.css')

block content
  div(id='main')
    div(id = 'pageTitleGeneral')
      h1 help & tutorials
    p.intro.
      Confused about MIST?  Here are a few quick guides to get you
      started.  
    table.help
      tr
        th Section
        th Description
        th Type
      tr
        td: a(href='/tutorial/intro') An Introduction to MIST
        td A quick introduction to the ideas behind MIST
        td Text
      tr
        td: a(href='/video/intro-site') A Quick Tour of the Web Site
        td A brief introduction to the pages on this site
        td Video
      tr
        td: a(href='/tutorial/gui') Getting Started with the Workspace
        td A short introduction to the graphical user interface for creating new MIST images
        td Text
      tr
        td: a(href='/video/intro-gui') The MIST Graphical User Interface
        td A shorter introduction to the graphical user interface for creating new MIST images
        td Video
      tr
        td: a(href='/video/extended-1') An Extended Example, Part 1
        td A quick demonstration of how to make an "interesting" animation
        td Video
