extends ./partials/framework
block title
  title MIST by Glimmer
block extraMetas
block extraLinks
  script(type='text/javascript' src='/js/mist-utils.js')
  script(type='text/javascript' src='/js/mist-functions.js')
  script(type='text/javascript' src='/js/mist-layout.js')
  script(type='text/javascript' src='/js/mist-functions-layout.js')
  script(type='text/javascript' src='/js/mist-functions-builtin.js')
  script(type='text/javascript' src='/js/mist-render.js')
  script(type='text/javascript' src='/js/mistui-dialogs.js')
  script(type='text/javascript' src='/js/mistui-help.js')
  script(type='text/javascript' src='/js/mistui-menus.js')
  script(type='text/javascript' src='/js/mistui-animation.js')
  script(type='text/javascript' src='/js/mistui-animator.js')
  script(type='text/javascript' src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
  script(type='text/javascript' src='/js/gallery.js')

block stylesheets
  link(rel='stylesheet', href='/css/index')

block content
  div(id='main')
    div(id='featuredImage')
      img(src='/logos/featured.png')
    div(id='about')
      p
        | MIST, the
        i  Mathematical Image Synthesis Toolkit
        | , is a platform for building interesting animated images.
        | Try exploring the galleries, reading the tutorials, or
        | creating your own images.
    div(id='homeButtons')
      a(href='/create' id='create')
         ='create'
      a(href='/tutorial' id='tutorials')
         ='tutorials'
      a(href='/galleries' id='gallery')
         ='gallery'
    div(id='galleryImages')
      p(class='info').
        Some of the following images animate when you move the mouse over them.
      - for (var i=0; i < images.length; i++)
        figure
          a(href='/image/' + images[i].imageid)
            canvas(id='canvas'+i width='150' height='150')
            input(type='hidden' id='code'+i value=images[i].code)
          figcaption(class='right'): a(href='/user/'+ images[i].username)= images[i].username
      figure: p(id="seemore"): a(href='/gallery') See more in gallery
