extends ./partials/framework
block title
  title MIST by Glimmer
block extraMetas
block extraLinks
  script(type='text/javascript' src='/js/mist-utils.js')
  script(type='text/javascript' src='/js/mist-functions.js')
  script(type='text/javascript' src='/js/mist-layout.js')
  script(type='text/javascript' src='/js/mist-functions-layout.js')
  script(type='text/javascript' src='/js/mist-functions-builtin.js')
  script(type='text/javascript' src='/js/mist-render.js')
  script(type='text/javascript' src='/js/mistui-dialogs.js')
  script(type='text/javascript' src='/js/mistui-help.js')
  script(type='text/javascript' src='/js/mistui-menus.js')
  script(type='text/javascript' src='/js/mistui-animation.js')
  script(type='text/javascript' src='/js/mistui-animator.js')
  script(type='text/javascript' src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
  script(type='text/javascript' src='/js/gallery.js')

block stylesheets
  link(rel='stylesheet', href='/css/index')

block content
  div(id='main')
    div(id='featuredImage')
      img(src='/logos/featured.png')
    div(id='homeButtons')
      a(href='/default' id='create')
         ='create'
      a(href='/default' id='tutorials')
         ='tutorials'
    div(id='galleryImages')
      - for (var i=0; i < images.length; i++)
        figure
          a(href='/image/' + images[i].imageid)
            canvas(id='canvas'+i width='150' height='150')
            input(type='hidden' id='code'+i value=images[i].code)
          figcaption(class='right'): a(href='/user/'+ images[i].username)= images[i].username
      h1: a(href='/gallery') See more in gallery
