extends ./partials/framework
block title
	title Log In to MIST
block extraMetas
block extraLinks

block stylesheets
	link(rel='stylesheet', href='/css/signup')
block content
	div(id='main')
		div(id='pageTitle')
			h1 log in
		div(id='flashZone')
			h1 Welcome back to MIST! Enter your username and password to begin
		form(method='POST')
			table
				tr
					td username:
					td: input(type='text' name='username' required='required' placeholder='username' class='signupField')
				tr
					td password:
					td: input(type='password' name='password' required='required' placeholder='password' class='signupField')
					td(id='passwordvalid')
						span

			input(type='submit' value='log in')
