extends ./partials/framework
block title
  title Log In to MIST
block extraMetas
block extraLinks

block stylesheets
  link(rel='stylesheet', href='/css/signup.css')
block content
  div(id='main')
    div(id='pageTitleGeneral')
      h1 log in
    div(id='flashZone')
      h1= flashMessage
    form(method='POST')
      table
        tr
          td username:
          td: input(type='text' name='username' required='required' placeholder='username' class='signupField')
        tr
          td password:
          td: input(type='password' name='password' required='required' placeholder='password' class='signupField')
          td(id='passwordvalid')
            span
        tr
          td: label(for='stayLoggedIn') Remember Me
          td: input(type='checkbox' name='stayLoggedIn')

      input(type='submit' value='log in')
