extends ./partials/framework
block title
  title= "MIST Creator Workspace"
block extraMetas
block extraLinks
  script(type='text/javascript' src='https://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.1.0.min.js')
  script(type='text/javascript' src='/js/mist-utils.js')
  script(type='text/javascript' src='/js/mist-functions.js')
  script(type='text/javascript' src='/js/mist-layout.js')
  script(type='text/javascript' src='/js/mist-functions-layout.js')
  script(type='text/javascript' src='/js/mist-functions-builtin.js')
  script(type='text/javascript' src='/js/mist-render.js')
  script(type='text/javascript' src='/js/mistui-dialogs.js')
  script(type='text/javascript' src='/js/mistui-help.js')
  script(type='text/javascript' src='/js/mistui-menus.js')
  script(type='text/javascript' src='/js/mistui-animator.js')
  script(type='text/javascript' src='/js/mist-gui-globalVariables.js')
  script(type='text/javascript' src='/js/mist-gui-utilityFunctions.js')
  script(type='text/javascript' src='/js/mist-gui-predicates.js')
  script(type='text/javascript' src='/js/mist-gui-menuTweens.js')
  script(type='text/javascript' src='/js/mist-gui-constructors.js')
  script(type='text/javascript' src='/js/mist-gui-EditableText.js')
  script(type='text/javascript' src='/js/mist-gui-workspaceFunctions.js')
  script(type='text/javascript' src='/js/mist-gui-makeMenu.js')
  script(type='text/javascript' src='/js/mist-gui-makeToolbox.js')
  script(type='text/javascript' src='/js/mist-gui-makeFunctionBar.js')
  script(type='text/javascript' src='/js/mist-gui-menuEvents.js')
  script(type='text/javascript' src='/js/mist-gui-dragLayerEvents.js')
  script(type='text/javascript' src='/js/mist-gui-lineLayerEvents.js')
  script(type='text/javascript' src='/js/mist-gui-toolboxEvents.js')
  script(type='text/javascript' src='/js/mist-gui-changingWorkspace.js')
  script(type='text/javascript' src='/js/mist-gui-workspaceFunctions.js')
  script(type='text/javascript' src='/js/mist-gui-saveScreen.js')
  script(type='text/javascript' src='/js/mist-gui-saveWorkspaceScreen.js')
  script(type='text/javascript' src='/js/mist-gui-openWorkspaceScreen.js')
  script(type='text/javascript' src='/js/mist-gui-funBarEvents.js')
  script(type='text/javascript' src='/js/mist-gui-makeLabels.js')
  script(type='text/javascript' src='/js/mist-gui-keyEvents.js')
  script(type='text/javascript' src='//code.jquery.com/ui/1.10.4/jquery-ui.js')

  

block stylesheets
  link(rel='stylesheet' href='/css/mist-gui.css')
  link(rel='stylesheet' href='http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
  link(rel='stylesheet' href='/css/jquery-override.css')

block content
  div(id='main')
    div(id='container')
    script(type='text/javascript' src='/js/mist-gui-initializeStage.js')
    script(type='text/javascript' src='/js/mist-gui-workLayerEvents.js')
    script.
      stage.draw()
