extends ./partials/framework
block title
  title= "MIST Creator Workspace"
block extraMetas
block extraLinks
  script(type='text/javascript' src='https://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.1.0.min.js')
  script(type='text/javascript' src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
  script(type='text/javascript' src='/js/mist-utils.js')
  script(type='text/javascript' src='/js/mist-functions.js')
  script(type='text/javascript' src='/js/mist-layout.js')
  script(type='text/javascript' src='/js/mist-functions-layout.js')
  script(type='text/javascript' src='/js/mist-functions-builtin.js')
  script(type='text/javascript' src='/js/mist-render.js')
  script(type='text/javascript' src='/js/mistui-dialogs.js')
  script(type='text/javascript' src='/js/mistui-help.js')
  script(type='text/javascript' src='/js/mistui-menus.js')
  script(type='text/javascript' src='/js/mistui-animator.js')
  script(type='text/javascript' src='/js/mist-gui-width-var.js')
  script(type='text/javascript' src='/js/mist-gui-globalVariables.js')
  script(type='text/javascript' src='/js/mist-gui-utilityFunctions.js')
  script(type='text/javascript' src='/js/mist-gui-predicates.js')
  script(type='text/javascript' src='/js/mist-gui-menuTweens.js')
  script(type='text/javascript' src='/js/mist-gui-constructors.js')
  script(type='text/javascript' src='/js/mist-gui-EditableText.js')
  script(type='text/javascript' src='/js/mist-gui-workspaceFunctions.js')
  script(type='text/javascript' src='/js/mist-gui-makeMenu.js')
  script(type='text/javascript' src='/js/mist-gui-makeToolbox.js')
  script(type='text/javascript' src='/js/mist-gui-makeFunctionBar.js')
  script(type='text/javascript' src='/js/mist-gui-menuEvents.js')
  script(type='text/javascript' src='/js/mist-gui-dragLayerEvents.js')
  script(type='text/javascript' src='/js/mist-gui-lineLayerEvents.js')
  script(type='text/javascript' src='/js/mist-gui-toolboxEvents.js')
  script(type='text/javascript' src='/js/mist-gui-changingWorkspace.js')
  script(type='text/javascript' src='/js/mist-gui-workspaceFunctions.js')
  script(type='text/javascript' src='/js/mist-gui-saveScreen.js')
  script(type='text/javascript' src='/js/mist-gui-saveWorkspaceScreen.js')
  script(type='text/javascript' src='/js/mist-gui-openWorkspaceScreen.js')
  script(type='text/javascript' src='/js/mist-gui-funBarEvents.js')
  script(type='text/javascript' src='/js/mist-gui-makeLabels.js')


block stylesheets
  link(rel='stylesheet' href='/css/mist-gui.css')
  link(rel='stylesheet' href='http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
  link(rel='stylesheet' href='/css/jquery-override.css')

block content
  div(id='main')
    table(id='gui-and-key')
      tr
        td
          div(id='container')
          script(type='text/javascript' src='/js/mist-gui-initializeStage.js')
          script(type='text/javascript' src='/js/mist-gui-workLayerEvents.js')
          script.
            stage.draw()
        td
          table(id='key')
            tr(id='value-key')
              td 
                img(src='/images/gui-key/value.png' class='key-image')
              td(class='key-description')
                | <b> value </b> 
                | <br>Can be rendered individually or can be an input to a function.
            tr(id='mult-function-key')
              td 
                img(src='/images/gui-key/mult-function.png' class='key-image')
              td(class='key-description')
                | <b> multiple input function </b> 
                | <br>Must have 2 inputs, can have up to 20.
            tr(id='fixed-function-key')
              td 
                img(src='/images/gui-key/fixed-function.png' class='key-image')
              td(class='key-description')
                | <b> fixed input function </b> 
                | <br>Number of inputs is unchanging.
            tr(id='rgb-function-key')
              td 
                img(src='/images/gui-key/rgb-function.png' class='key-image')
              td(class='key-description')
                | <b> rgb (color) function </b> 
                | <br>Takes three inputs (Red,Green, and Blue) and returns a color 
                | based on the values for R, G, and B.
            tr(id='function-outlet-key')
              td 
                img(src='/images/gui-key/function-input.png' class='key-image' width='70' height='50')
              td(class='key-description')
                | <b> function input </b> 
                | <br>Where you connect an input to a function. 
            tr(id='connection-key')
              td 
                img(src='/images/gui-key/connection.png' class='key-image')
              td(class='key-description')
                | <b> connection </b> 
                | <br>Can be between a value and a function or a function and a 
                | function.
            tr(id='image-box-key')
              td 
                img(src='/images/gui-key/image-box2.png' class='key-image')
              td(class='key-description')
                | <b> image box </b> 
                | <br>Appears on all values and on functions when they are 
                | renderable. Click to see the resulting image.
    p(id="gui-help")
      | New to MIST? Having Trouble? Read our 
      | <a href='/tutorial/gui'>create tutorial</a>
      | or visit our 
      | <a href='/help'>help section</a>
      | for more information.
