extends ./partials/framework
block title
	title MIST Galleries
block extraMetas
block extraLinks

block stylesheets
	link(rel='stylesheet', href='/css/styles')

block content
	div(id='main')
		div(id='pageTitle')
				div(id='titleTitle'): h1 Gallery
		table
			tr
				td:c
				td
				td
			tr
				td
				td
				td
			tr
				td
				td
				td
var randomize = function(randomButton)
	if(randomButton){
		for (var i=0; i<9; i++){
			int place=rand()%9;
				switch(place)
					case 0:
						
					case 1
					case 2
					case 3
					case 4
					case 5
					case 6
					case 7
					case 8
