extends ./partials/framework
block title
  title Signup for MIST
block extraMetas
block extraLinks
  script(type='text/javascript' src='/js/signup.js')
block stylesheets
  link(rel='stylesheet', href='/css/signup.css')
block content
  div(id='main')
    div(id='pageTitleGeneral')
      h1 sign up
    div(id='subTitle')
      h2 Welcome to MIST! Get started by creating an account.
    if (error)
      pre(class='error')!= error
    form(method='POST')
      table
        tr
          td first name:
          td: input(type='text' name='forename' required='required' placeholder='first name' class='signupField' value= prior.forename)
        tr
          td last name:
          td: input(type='text' name='surname' required='required' placeholder='last name' class='signupField' value= prior.surname)
        tr
          td email address:
          td: input(type='email' name='email' required='required' placeholder='email address' class='signupField' id='email' value= prior.email)
        tr
          td username:
          td: input(type='text' name='username' required='required' placeholder='username' class='signupField' id='username' value= prior.username)
        tr
          td password:
          td: input(type='password' name='password' required='required' placeholder='password' class='signupField' id='password')
        tr
          td re-enter password:
          td: input(type='password' name='repassword' required='required' placeholder='re-enter password' class='signupField' id='repassword')
       input(type='checkbox' value='thirteenplus' required='required')
      p By checking this box I confirm that I am 13 years of age or older.
      input(type='submit' value='sign up' id='signup')
