extends ./partials/framework
block title
 title MIST by Glimmer
block extraMetas
block extraLinks

block stylesheets
 link(rel='stylesheet', href='/css/index.css')

block content
 div(id='main')
  div(id='pageTitleGeneral')
   h1 Coming Soon
  div(id='subTitle')
   h2 This feature is coming soon. Be sure to stop back!


