extends ./partials/framework
block title
 title MIST by Glimmer
block extraMetas
block extraLinks
 script(type='text/javascript' src='/js/mist-utils.js')
 script(type='text/javascript' src='/js/mist-functions.js')
 script(type='text/javascript' src='/js/mist-layout.js')
 script(type='text/javascript' src='/js/mist-functions-layout.js')
 script(type='text/javascript' src='/js/mist-functions-builtin.js')
 script(type='text/javascript' src='/js/mist-render.js')
 script(type='text/javascript' src='/js/mistui-dialogs.js')
 script(type='text/javascript' src='/js/mistui-help.js')
 script(type='text/javascript' src='/js/mistui-menus.js')
 script(type='text/javascript' src='/js/mistui-animation.js')
 script(type='text/javascript' src='/js/mistui-animator.js')
 script(type='text/javascript' src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
 script(type='text/javascript' src='/js/gallery.js')

block stylesheets
 link(rel='stylesheet', href='/css/index.css')

block content
 div(id='main')
  div(id='pageTitleGeneral')
   h1 Coming Soon
  div(id='flashZone')
   h1 This feature is coming soon. Be sure to stop back!


