extends ./partials/framework
block title
  title MIST tutorial

block extraMetas
block extraLinks
block stylesheets

  link(rel='stylesheet', href='/css/tutorial')


block content
  div(id='main')
    if(!notFirstTime)
      h1 Welcome to MIST! Click on the first tutorial to get started.
    else
      h1 Welcome back to MIST! Click your course to continue.
    table(id='introTable')
      tr(class='introTR')
        td(class='introTD'): a(href='/tutorial/introToMIST') What the MIST are these things?!
        td(class='introTD') Not started
      tr(class='introTR')
        td(class='introTD'): a(href='#') Let's play with FUNctions!
        td(class='introTD') Not Started <!--a(href='tutorial/functions'-->
      tr(class='introTR')
        td(class='introTD'): a(href='#') Well, I thought FUNctions were clever.
        td(class='introTD') Not Started <!--a(href='/tutorial/morefunctions'-->
      tr(class='introTR')
        td(class='introTD'): a(href='#') Put them together!
        td(class='introTD') Not started <!--a(href='/tutorial/combiningfunctions')-->
      tr(class='introTR')
        td(class='introTD'): a(href='#') Pretty Pictures
        td(class='introTD') Not started <!--a(href='/tutorial/rgbhsv')-->
      tr(class='introTR')
        td(class='introTD'): a(href='/tutorial/workspace') Every good mother sends their child hurtling towards the ground at some point...
        td(class='introTD') Not started <!-- a(href='/tutorial/workspace')-->