extends ./partials/framework
block title
  title Introduction to MIST Workspace
block extraMetas
block extraLinks
  script(type='text/javascript' src='../js/tutorialGUI1.js')
block stylesheets
  link(rel='stylesheet', href='/css/tutorial.css')

block content
  div(id='main')
    div(id='instructions')
      h1 What the MIST are these things?!
      p(id='instructText' style='white-space:pre-line;' class='image00')
        |
        | Welcome to MIST! By now you're probably wondering how in the world you can work with the Create space.
        |
        |    On the right, we labeled what exactly all that stuff is.  Click through the next buttons to familiarize yourself with the workspace on MIST.
        |
        |    You may find it useful to open up another window to interact with the workspace side-by-side.
        |
      p(id='instructText' style='white-space:pre-line;' class='image01')
        |
        | Now to add a value to the workspace and view its graphical representation in the [-1, 1] world.
        |
        | Start by clicking on the 'add a value' tab of the menu to view the values available.
        |
      p(id='instructText' style='white-space:pre-line;' class='image02')
        |
        | To add a value to the workspace, simply drag it down to where you want it!
        |
        | The options are:
        |     x
        |     y
        |     t.s – ranges within each second
        |     t.m – ranges within each minute
        |     t.h – ranges within each hour
        |     t.d – ranges within each day
        |     # – accepts a typed in constant value
      p(id='instructText' style='white-space:pre-line;' class='image03')
        |
        | The 'valid' value can now be seen graphically by clicking on the mini image box attached to the value.
        |
      p(id='instructText' style='white-space:pre-line;' class='image04')
        |
        | The image box expands to show the image – this is what 'x' looks like in our world.
        |
        |   *To close an open image, re-click anywhere on the image.
        |
      p(id='instructText' style='white-space:pre-line;' class='image05')
        |
        | Now to add a function and connect a value.
        |
        | Start by clicking on the 'add a function' tab of the menu to view the functions available.
        |
        |   The options are:
        |     sum – accepts multiple inputs
        |     mult – accepts multiple inputs
        |     avg – accepts multiple inputs
        |     sin – accepts one input
        |     cos – accepts one input
        |     abs – accepts one input
        |     sign – accepts one input
        |     rgb – accepts 3 inputs *not an output*
        |
      p(id='instructText' style='white-space:pre-line;' class='image06')
        |
        | To add a function to the workspace, much like a value, drag it down from the menu to where you want.
        |
      p(id='instructText' style='white-space:pre-line;' class='image07')
        |
        | Next, click on the 'line tool' in the toolbox.
        |
      p(id='instructText' style='white-space:pre-line;' class='image08')
        |
        | To start creating a line, click on the value or output of interest.
        |
      p(id='instructText' style='white-space:pre-line;' class='image09')
        |
        | Click the little grey outlet on your function to connect the new line to the function.
        |
      p(id='instructText' style='white-space:pre-line;' class='image10')
        |
        | This function is now 'valid' since it only takes one input.
        |
        | Now it has a mini image box to view the resulting image!
        |
      p(id='instructText' style='white-space:pre-line;' class='image11')
        |
        | Since the function was also the last item to be clicked on, you can also view the function being represented as an image, as text!
        |
      p(id='instructText' style='white-space:pre-line;' class='image12')
        |
        | Branches can also be created to view multiple images at once.
        |
        | Try out another function such as 'sum' which takes multiple inputs, as seen by the two initial outlets.
        |
      p(id='instructText' style='white-space:pre-line;' class='image13')
        |
        | You can now connect the 'valid' function from before to the still empty 'sum' along with a second 'x' value.
        |
      p(id='instructText' style='white-space:pre-line;' class='image14')
        |
        | With two inputs, the 'sum' function is now valid and can be viewed alongside the 'x'.
        |
        | At the bottom of the workspace, you can the text has also been updated!
        |
      p(id='instructText' style='white-space:pre-line;' class='image15')
        |
        | Now to delete an object.
        |
        | Start by clicking on the 'delete tool' in the toolbox.
        |
      p(id='instructText' style='white-space:pre-line;' class='image16')
        |
        | Click an object such as the oh-so-important 'sin' function....
        |
      p(id='instructText' style='white-space:pre-line;' class='image17')
        |
        | … And the workspace updates with viewable text and valid images.
        |
      p(id='instructText' style='white-space:pre-line;' class='image18')
        |
        | To undo a change to the workspace, simply click on the undo button in the toolbox.
        |
        |   *Undone actions can also be redone with the redo button located below the undo button.
        |
      p(id='instructText' style='white-space:pre-line;' class='image19')
        |
        | And Viola! The complete workspace is back.
        |
      p(id='instructText' style='white-space:pre-line;' class='image20')
        |
        | To save your beautiful creation to your account, click on the save as 'image' button in the function bar.
        |
      p(id='instructText' style='white-space:pre-line;' class='image21')
        |
        | Before saving, make sure to admire your image and give it a unique name!
        |
      p(id='instructText' style='white-space:pre-line;' class='image22')
        |
        | Then saving your image is simply a click away.
        |
    div(id='workspace')
      img(class='image00 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10524138_514635215303985_1146625166_n.jpg?oh=2b9bbd0f2f68ff1b6c5af3b96d85b0b1&oe=53BC9497&__gda__=1404869319_42c2c3f7a50f2f1fc38f078a5bd17aaa')

      img(class='image01 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10528101_514647995302707_661553171_n.jpg?oh=b1ffd337646a8ed3028e8cdb96850f73&oe=53BCA350&__gda__=1404864909_ef10b23dbc1a6a05d5919605c97f40a7')

      img(class='image02 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10531041_514648035302703_1174336478_n.jpg?oh=03416d0a3539622432530aaaf2937913&oe=53BCD165&__gda__=1404886709_45d1f4a55b7f9ce63360d8a56115540c')

      img(class='image03 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10529480_514654681968705_2034706415_n.jpg?oh=e4bafe368073c04acde4ff58fd4b2ff2&oe=53BCCE9E&__gda__=1404879934_f35101270dd86bf10977320d29c7da05')

      img(class='image04 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10514767_514654721968701_500237939_n.jpg?oh=b1f3b1248cfdeee7810fb2642cc5174e&oe=53BD1A00&__gda__=1404864351_fd8db3b88c93bacaaf41c14bd43eac98')

      img(class='image05 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10517048_514655768635263_1768125551_n.jpg?oh=ac791f4aeee3e75f529923b82bb81b57&oe=53BCDDBC&__gda__=1404901404_fe8599d29a4c14639844e4748874c70b')

      img(class='image06 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfa1/v/t34.0-12/10527923_514656388635201_1248891730_n.jpg?oh=8375b3b8d1ef996c722cab55603026b0&oe=53BD0918&__gda__=1404901755_998d12d08848beba5198350df0b204cd')

      img(class='image07 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10524801_514656908635149_1541323120_n.jpg?oh=4655fbae635d4c8ff6e80f2a82692070&oe=53BD1601&__gda__=1404885217_635aa9dbb0625f458d780f7e9037c12a')

      img(class='image08 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10524869_514657528635087_1311958729_n.jpg?oh=ef295cce5b6a75a2bfc2ca04ccc33cde&oe=53BCF1C6&__gda__=1404877286_24a2f987de8425652e7385d95db5f744')

      img(class='image09 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10481804_514658208635019_1869340449_n.jpg?oh=4d2978ae2652643b403c0591ee49a4fb&oe=53BCC117&__gda__=1404876295_a66efa0e701cf6678f924ab4824eba17')

      img(class='image10 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10524480_514659131968260_1298274976_n.jpg?oh=850307e80190146e440284c5780df64c&oe=53BCD307&__gda__=1404877079_f72372163950643c76a717736d674869')

      img(class='image11 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10529595_514660495301457_910579648_n.jpg?oh=d5d667ca482b0937605a66db2dd05205&oe=53BD1E67&__gda__=1404875386_e8f12db33fe9a43afae18a5ea0c59681')

      img(class='image12 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10515007_514661165301390_1168441255_n.jpg?oh=6d83a71dc8fac21ee6ab40854caf1475&oe=53BCE3D0&__gda__=1404894528_ba3b3ee2207d51063951cc73dec760ff')

      img(class='image13 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10531159_514675095299997_271238015_n.jpg?oh=063de7cf9eca550ac94d1e897109e5dc&oe=53BCFF04&__gda__=1404891995_25852700fab1c687f69435a8272dc7fc')

      img(class='image14 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10524388_514675895299917_152840082_n.jpg?oh=a059a782e98fe74308f88ec2b98a4cf2&oe=53BD0436&__gda__=1404880619_0c548d06ea38486b38e271bbb7b94d92')

      img(class='image15 image'  src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10527986_514676241966549_712850855_n.jpg?oh=0d0cfcefcdf29fe1baea16aa3bcbf2d8&oe=53BCB61F&__gda__=1404873024_1a88d8340662ee7a61b4d063cb579437')

      img(class='image16 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10526609_514676695299837_1721299986_n.jpg?oh=8bdd6d2d0035dade0556c00f347d3d85&oe=53BD23C5&__gda__=1404904933_e66434ae1eca7e822d4e6a596d876d57')

      img(class='image17 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10541864_514678021966371_661209485_n.jpg?oh=bae3cdc168392b686fc96c8050846f3e&oe=53BD242D&__gda__=1404875376_7bf03254788f1a58895846bef5e2cfa2')

      img(class='image18 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10526682_514678295299677_711329952_n.jpg?oh=a6a2ef8dd2765fb3f69bc543c5566268&oe=53BD0A76&__gda__=1404879593_8a78349b0fbf40a3c71d84b772da07a3')

      img(class='image19 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10521709_514678461966327_1621509503_n.jpg?oh=be8878109d76362f0498f79a12559a67&oe=53BCB91C&__gda__=1404872828_14c907cb814a59f50867197130272589')

      img(class='image20 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10529544_514678818632958_1891064060_n.jpg?oh=e6b92be8064150d2a98d6cdf1caa90c3&oe=53BD1AE7&__gda__=1404899703_4fbfc7870054048b98b707e9cd07a646')

      img(class='image21 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10517007_514679401966233_1735377137_n.jpg?oh=c85c5968d265107d64b8138b3283fc87&oe=53BC8D0C&__gda__=1404898540_8200951bf77a92d34e781c63aa1c0c5b')

      img(class='image22 image' src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10516987_514680088632831_1884049696_n.jpg?oh=79748431d2b2480d574ac4179538818e&oe=53BCAA61&__gda__=1404886145_11e84dcf18e830a3f251c11e8f61c39b')
      a(href='#' id='clickPrevious') << previous
      a(href='#' id='clickNext') next >>
