extends ./partials/framework
block title
  title Introduction to MIST
block extraMetas
block extraLinks
  script(type='text/javascript' src='../js/tutorialIntro1.js')
block stylesheets
  link(rel='stylesheet', href='/css/tutorial.css')

block content
  div(id='main')
    div(id='instructions')
      h1 What the MIST are these things?!
      p(id='instructText' style='white-space:pre-line;')
        |
        | Lesson 1: Welcome to MIST! MIST stands for Mathematical Image Synthesizing Tool.  You can use this tool to make your own images!
        |
        |
        |    Let's get started with the basics.
        |
        |
        |    Here, you see an image.  Just a box, nothing special.  Well, this box has coordinate values too. At the upper-left corner lies [-1, -1] while the bottom-right corner has [1,1].
        |    Click the "Click Me!" button to toggle the values of [x,y]
    div(id='workspace')
      img(id='blank' class='image' src='http://www.cs.grinnell.edu/~rebelsky/Department/samr-summer-2014/one-SMALL.png')
      img(id='x' class='image' src='http://www.cs.grinnell.edu/~rebelsky/Department/samr-summer-2014/x-SMALL.png')
      img(id='y' class='image' src='http://www.cs.grinnell.edu/~rebelsky/Department/samr-summer-2014/y-SMALL.png')
      div(id='buttons')
        input(type='button' class='clickX')
        input(type='button' class='clickY')
