extends ./partials/framework
block title
  title Log In to MIST
block extraMetas
block extraLinks

block stylesheets
  link(rel='stylesheet', href='/css/signup.css')
block content
  div(id='main')
    div(id='pageTitleGeneral')
      h1 email verification
    div(id='flashZone')
      h1!= flashMessage
