extends ./partials/framework
block title
  title Welcome to the MIST Pre-Alpha

block extraMetas
block extraLinks

block stylesheets

  link(rel='stylesheet', href='/css/styles.css')

block content
  div(id='main')
    div(id = 'pageTitleGeneral')
      h1 welcome
    div(style="clear: left;")
    p
      | Welcome to the MIST Pre-Alpha release.  We hope that you have fun
      | experimenting with MIST.  In case you haven't figured it out, MIST
      | provides a new approach to making interesting abstract images.  We
      | hope that you will be inspired by the sample images already on the
      | site and that you will be inspired to create your own.
    p
      | Because MIST is in its early stages of development, you are likely
      | to find some things missing on this Web site, and you'll ocassionally
      | find that things don't work as they should.  We'd appreciate it if
      | you'd take the time to let us know about 
      a(href="https://docs.google.com/forms/d/1vWQcSE6oU-yiM0CWk-q55aBj6Ec8zTRTepUlKdbPdog/viewform") features 
      | that you would like to see and any 
      a(href="https://docs.google.com/forms/d/1TrMg8uoYFa1JJYR4qRAxX396gGW46UazTnU_Z23eQm8/viewform") bugs 
      | that you have encountered.
      | If you spend more than a few minutes on the site, we'd also 
      | appreciate it if you'd fill out the 
      a(href="https://docs.google.com/forms/d/1DUo5eEY-5w8amayx9DJMifr7BvgzRUp1yy4a9-r09-g/viewform") user feedback form.
    p(style="text-align: right;")
      | -- The MIST Team
    h2 FAQ
    dl
      dt
        | What can I do on this site?
      dd
        | Browse interesting images in the galleries.  Create interesting
        | images yourself using the gui.  Challenge yourself to figure out
        | how to make the images that appear in the challenges section.
      dt
        | Who can participate in the pre-alpha release?
      dd
        | Since we're relatively early in the devlopment of MIST, we're
        | trying to keep our initial audience relatively small.  But if
        | someone pointed you toward the site, and you'll put up with the
        | problems inherent in a new site, you're welcome to try using it.
      dt
        | Where can I find the bug report form?
      dd
        | Here's 
        a(href="https://docs.google.com/forms/d/1TrMg8uoYFa1JJYR4qRAxX396gGW46UazTnU_Z23eQm8/viewform") the bug report form
        | .
      dt
        | Where can I find the feature requst form?
      dd
        | Here's 
        a(href="https://docs.google.com/forms/d/1vWQcSE6oU-yiM0CWk-q55aBj6Ec8zTRTepUlKdbPdog/viewform") the feature request form
        | .
      dt
        | What should I do if I have other questions?
      dd
        | I suppose you could send mail to MISTbyGlimmer@gmail.com.
      dt
        | Why are you using a self-signed certificate for https?  
      dd
        | We haven't had time to get a reasonable certificate.


