extends ../partials/video
block title
  title An Extended MIST Example, Part 1
block mainhead
  h1 videos
block subhead
  h2 An Extended MIST Example, Part 1
block video
  <iframe width='840' height='630' src='//www.youtube.com/embed/SQ9CDOUUeMk' frameborder='0' allowfullscreen></iframe>

