extends ../partials/video
block title
  title An Introduction to the MIST GUI
block mainhead
  h1 videos
block subhead
  h2 An Introduction to the MIST GUI
block video
  <iframe width='840' height='630' src='//www.youtube.com/embed/s7dNkJ9joIc' frameborder='0' allowfullscreen></iframe>

