extends ../../partials/tutorial
block title
  title An Introduction to MIST
block mainhead
  h1 tutorial / intro
block subhead
  h2 About MIST
block narrative
  p.
    Welcome to MIST, the Mathematical Image Synthesis Toolkit.  In this
    tutorial, we'll introduce you to some of the kinds of things you can
    do in MIST, as well as some things you can't do so well in MIST.
block illustration
  canvas(id="canvas",class="image",width=300,height=300)
  p(id="code",style="visibility:hidden") sin(sin(sum(mult(y,y),mult(sum(x,sin(t.m)),sum(x,sin(t.m))),cos(sum(cos(t.m),cos(sum(mult(x,x),mult(y,y))))))))
