extends ../../partials/tutorial
block title
  title TITLE
block mainhead
  h1 tutorial / intro
block subhead
  h2 SUBHEAD
block narrative
  p.
    NARRATIVE
block illustration
  canvas(id="canvas",class="world",width=300,height=300)
  p(id="code" class="code") 0
