extends ../../partials/tutorial
block title
  title An Introduction to MIST - White
block mainhead
  h1 tutorial/intro
block subhead
  h2 Greyscale Images: White
block narrative
  p.
    Conversely, -1 is white.
block illustration
  canvas(id="canvas",class="world",width=300,height=300)
  p(id="code" class="code") -1
