extends ../../partials/tutorial
block title
  title An Introduction to MIST: X
block mainhead
  h1 tutorial / intro
block subhead
  h2 Greyscale Images: X
block narrative
  p. 
    Here's an image in which each color depends on the x coordinate.
    We would write this as <code>x</code>.
block illustration
  canvas(id="canvas",class="world",width=300,height=300)
  p(id="code" class="code") x
