extends ../../partials/tutorial
block title
  title An Introduction to MIST: Multiplication
block mainhead
  h1 tutorial / intro
block subhead
  h2 Greyscale Images: Multiplication
block narrative
  p. 
    We can apply mathematical operations, too.  Here's what happens when
    we multiply x times y.  (Don't worry about how we're writing it; you'll
    use a graphical user interface to build images.)
block illustration
  canvas(id="canvas",class="world",width=300,height=300)
  p(id="code" class="code") multiply(x,y)
