@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  font-family: 'Open Sans', sans-serif;
}

/* Header */
header {
  margin: -100px -10px;
  width: 101%;
  height: 80px;
  background-color: #4A4A4A;
  position:fixed;
  box-shadow: 0 2px 4px 0 #000;

}

#headerLogo{
  float:left;
  width: 126px;
  margin: 5px 0 5px 30px;
}

#headerLogo img{
  height:100%;
  width:100%;
}

header nav {
  height:80px;
  float:right;
}

header ul {
  width: 100%;
  height: 33%;
  margin:40px 20px 20px 0px;

}

header nav a {
  text-decoration:none;
  color:#E1E1E1;
}

header nav a:hover {
  color: #9B9B9B;
}

header nav li {
  padding:0;
  margin: 0 5px 0 5px;
  display: inline-block;

}
/* End of Header */


#main {
  margin:100px;
}

#featuredImage {
  text-align: center;
}


#create {
  height:80px;
  width: 290px;
  margin: 80px 20px;
  float: left;
  background-color: #979797;
  font-weight:bold;
  color: #FFF;
  text-align:center;
  text-transform:lowercase;
}
#create:hover {
  background-color: #FFF;
  color: #979797;

}

#tutorials {
  height:80px;
  width: 290px;
  margin: 80px 20px;
  float: right;
  background-color: #3FAAA0;
  color: #FFF;
  text-align:center;
  font-weight:bold;



}


#tutorials:hover {
  background-color: #FFF;
  color: #3FAAA0;

}

#tutorials h1, #create h1, #tutorials h1:hover, #create h1:hover{

  font-size: 4em;
  margin:-5px;
  padding:0;


}

#galleryImages {
  clear:both;
  margin:0 auto;


}


#galleryImages figure {
  display:inline-block;
  margin: 10px;
}

#galleryImages figure img{
  height: 140px;
  width: 140px;

}

#galleryImages figcaption{
  text-align:right;
  color: #979797;
}

#galleryImages h1 {
  font-size:1.5em;
  text-align:center;


}

#galleryImages a {
  color: #979797;
  text-decoration:none;


}

#galleryImages a:hover {
  color: #666;
}

#figset {

  margin:0 auto;
  width: 1010px;

}



/* Footer */
footer nav ul {
  margin:0;
  list-style-type: none;

}

footer a {
  text-decoration:none;
  color: #9B9B9B;


}

footer a:hover {
  text-decoration:none;
  color: #666;


}

footer nav li {
  margin: 0 5px 0 5px;
  display: inline-block;

}
footer nav {
  margin: 0 auto;
}

footer p {
  margin: 0 auto;
  width:160px;
}


footer {
  width: 60%;
  margin: 0 auto;
  clear: both;
  width:90%;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #979797;
  text-align: center;

}

/* End of Footer */
