<% var title= challenge.name %>
<% var css= '<link rel="stylesheet" href="/css/challenges.css">' %>
<% include head.ejs %>

<div id="main">
  <div id="pageTitleGeneral">
    <h1>challenges 2</h1>
  </div>
  <div id="categories">
    <select class="category" id="level">
      <option value="Any">Any</option>
      <option value="Beginning">Beginning</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select>
    <select class="category" id="color">
      <option value="Any">Any</option>
      <option value="RGB">RGB</option>
      <option value="Greyscale">Greyscale</option>
    </select>
    <select class="category" id="animation">
      <option value="Any">Any</option>
      <option value="Static">Static</option>
      <option value="Animated">Animated</option>
    </select>
  </div>
</div>

<% include foot.ejs %>