<!DOCTYPE html>
<html lang="en">
 <head>
  <title><%- title %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <% try { css; %> <%- css %> <% } catch(err) { } %>
  <% try { meta; %> <%- meta %> <% } catch(err) { } %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/analytics.js"></script>
  <link rel="shortcut icon" href="/logos/favicon.ico">
  <script type="text/javascript" src="/js/mist.js"></script>
  <script type="text/javascript" src="/js/mistui.js"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script type="text/javascript" src="/js/likes.js"></script>
 </head>
 <body>
  <script type="text/javascript" src="/js/sharing-tools.js"></script>
  <header>
   <div id="headerLogo">
    <a href="/"><img src="/logos/header.png"></a>
   </div>
   <form id='search' action='/search'>
    <input type='search' name='searchQuery' id='searchBar'/>
    <ul class='menu' id='searchResults'></ul>
   </form>
   <nav>
    <ul>
     <span class="main">
      <li><a href="/create">create</a></li>
      <li><a href="/challenges">challenges</a></li>
      <li><a href="/gallery">gallery</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/help">help</a></li>
       <% if (user) { %>
        <li><a href="/me"><%-user.username%></a></li>
        <li><a href="/logout">log out</a></li>
       <% } else { %>
        <li id="slider">login/signup</li>
     </span>
     <form method="POST" action="/login" class="hidden">
      <input type="text" placeholder="username" name="username" required="required">
      <input type="password" placeholder="password" name="password" require="required">
      <li>
       <label> Remember Me
        <input type='checkbox' name='stayLoggedIn'/>
       </label>
      </li>
      <li id="login">login</li>
      <li><a href="/signup">signup</a></li>
      <li id="cancel">cancel</li>
     </form>
      <% } %>
    </ul>
   </nav>
  </header>
  <div id="main">
