<% include head.ejs %>
<h1>Horizon</h1>
   <h2>Fri, 11 Jul 2014 21:47:25 GMT</h2>
   <figure data-imageid='899'>
    <canvas id="canvas" width="400" height="400"></canvas>
    <figcaption class="left starred">★1</figcaption>
    <div id="image-sharing">
     <div id="image-fb-share" data-href="http://glimmer.grinnell.edu/image/899" data-type="button" class="fb-share-button"></div>
     <a id="image-tweet" href="https://twitter.com/share" data-lang="en" data-text="Check out &quot;Horizon&quot; by darkchocolate59 on @MISTbyGlimmer" data-url="http://glimmer.grinnell.edu/image/899" class="twitter-share-button">
      <Tweet>      </Tweet></a>
     <a href="/user/darkchocolate59">
      <figcaption class="right">darkchocolate59</figcaption>
     </a>
    </div>
   </figure>
   <p id="code" class="code">rgb(cos(y),sum(cos(y),x),x)</p>
   <table id="comments">
    <tr class="comment">
     <th class="user">
      <a href="/user/alexthemitchell">alexthemitchell</a>
     </th>
     <td class="comment">Kinda looks like a lens flare.</td>
     <td class="comment">Fri, 11 Jul 2014 21:53:20 GMT</td>
    </tr>
    <div id="add">
     <ul>
      <li>+ add to album<ul></ul></li>
     </ul>
    </div>
    <tr id="leaveComment" class="comment">
     <th class="user">
      <a href="/user/alexthemitchell">alexthemitchell</a></th>
     <td class="comment"><form method="POST"><textarea name="newComment" required="required" placeholder="leave a comment"></textarea><input type="submit" value="submit" name="commentSubmit"></form></td></tr></table>

<% include foot.ejs %>
