footer
	p ©2014 Glimmer Labs
	nav
		ul
			li: a(href='#') create
			li: a(href='#') challenges
			li: a(href='#') gallery
			li: a(href='#') about
			li: a(href='#') login
			li: a(href='#') signup
			li: a(href='#') license
			li: a(href='#') privacy policy