doctype html

html(lang='en')
  head
    block title
    meta(http-equiv='content-type', content='text/html; charset=utf-8')

    block extraMetas
    block stylesheets

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type='text/javascript' src="/js/main.js")
    script(type='text/javascript' src="/js/analytics.js")
    link(rel="shortcut icon" href="/logos/favicon.ico")
    block extraLinks
  body
    script(type='text/javascript' src='/js/sharing-tools.js')
    header
      div(id='headerLogo')
        a(href='/')
          img(src='/logos/header.png')
      nav
        ul
          span(class='main')
            li: a(href='/create') create
            li: a(href='/challenges') challenges
            li: a(href='/gallery') gallery
            li: a(href='/about') about
            li: a(href='/help') help
            if loggedIn
              li: a(href='/me')= user.username
              li: a(href='/logout') log out
            else
              li(id='slider') login/signup
          form(method='POST' action='/login' class='hidden')
            input(type='text' placeholder='username' name='username' required ='required')
            input(type='password' placeholder='password' name='password' require = 'required')
            li(id='login') login
            li: a(href='/signup') signup
            li(id='cancel') cancel

    block content
      
    footer
      p ©2014 Glimmer Labs
      div(id="sharing")
        div(id="fb-root")
          div(class="fb-like", data-href="https://facebook.com/MISTbyGlimmer", data-width="450", data-layout="button_count", data-action="like", data-show-faces="true", data-share="false")
        a(id="twitter-follow" href="https://twitter.com/MISTbyGlimmer" class="twitter-follow-button" data-show-count="true" data-lang="en")
        div(id="google-follow")
          div(class="g-follow", data-annotation="bubble", data-height="20", data-href="///plus.google.com/u/0/110957128275713803254" data-rel="author")
        
      nav
        ul
          li: a(href='/create') create
          li: a(href='/challenges') challenges
          li: a(href='/gallery') gallery
          li: a(href='/about') about
          if loggedIn
            li: a(href='/me') my account
          else
            li: a(href='/login') login
            li: a(href='/signup') signup
          li: a(href='/license') license
          li: a(href='/privacypolicy') privacy policy
