header
	div(id='headerLogo')
		a(href='#')
			img(src='/logos/header.svg')
	nav
		ul
			li: a(href='#') create
			li: a(href='#') challenges
			li: a(href='#') gallery
			li: a(href='#') about
			li: a(href='#') login/signup
