extends framework
block extraMetas
block extraLinks
  script(type='text/javascript' src='/js/ugly.mist.js')
  script(type='text/javascript' src='/js/ugly.mistui.js')
  script(type='text/javascript' src='//code.jquery.com/ui/1.10.4/jquery-ui.js')

block stylesheets
  link(rel='stylesheet', href='/css/index.css')
  link(rel='stylesheet', href='/css/tutorial-alt.css')

block content
  div(id='main')
    div(id='pageTitleGeneral')
      block mainhead
    div(id='subTitle')
      block subhead
    div(class='video')
      block video
